import { render } from 'test-utils';
import {{pascalCase name}} from '../';

describe('{{pascalCase name}} tests', () => {
  it('test description', async () => {
    render(<{{pascalCase name}} />);
  });
});
