type {{pascalCase name}}Props = Record<string, never>;

const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return <div className="container">{{pascalCase name}}</div>;
};
export default {{pascalCase name}};
