import type { Meta, StoryObj } from "@storybook/react";

import {{pascalCase name}} from '.';

export default {
  title: 'Common/{{pascalCase name}}',
  component: {{pascalCase name}},
} as Meta<typeof {{pascalCase name}}>;
type Story = StoryObj<typeof {{pascalCase name}}>;

export const Basic: Story = {
  render: () => <{{pascalCase name}} />,
};